<div style="width: 100%; height: 100%">
  <div class="center">
    <app-search style="margin: auto" (myClick)="onSearch($event)"></app-search>
    <app-order-list
      [orders]="orders"
      (select)="onSelectOrder($event)"
    ></app-order-list>
  </div>
</div>
