<div *ngIf="order$ | async as order" style="margin: 2em">
  <p>Auftragsnummer: {{ order.orderNumber }}</p>
  <p>Stückzahl: {{ order.quantity }}</p>
  <p>Lieferdatum: {{ order.deliveryDate }}</p>
  <p>Stückzeit Soll: {{ order.targetPartTime }}</p>
</div>
