<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let order of orders">
    <button mat-raised-button (click)="onSelect(order)" color="primary">
      {{ order.orderNumber }}
    </button>
  </mat-list-option>
</mat-selection-list>
