<mat-form-field class="example-form-field">
  <mat-label>Auftragsnummer eingeben</mat-label>
  <input
    [(ngModel)]="orderNumber"
    matInput
    type="text"
    (input)="onUpdateInput($event)"
    (keyup.enter)="onSearch()"
  />
</mat-form-field>
<span class="spacer"></span>

<button mat-fab color="primary" (click)="onSearch()" [disabled]="isDisabled">
  <mat-icon>search</mat-icon>
</button>
